<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div th:fragment="navBrand">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div th:fragment="logo">
                <a class="navbar-brand" th:href="@{/user/home}">
                    <img th:src="@{/images/logo.png}" width="50" height="50">
                </a>
            </div>
            <div th:fragment="navList">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <form th:action="@{/user/mybills}" method="get" class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-success" type="submit">My bills</button>
                        </form>
                    </li>

                    <li class="nav-item dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile management
                        </button>
                        <div class="dropdown-menu">
                            <form th:action="@{/user/myprofile}" method="get">
                                <div class="form-group">
                                    <button class="btn btn-block btn-light" type="submit">My profile</button>
                                </div>
                            </form>
                            <form th:action="@{/user/editprofile}" method="get">
                                <div class="form-group">
                                    <button class="btn btn-block btn-space btn-light" type="submit">Edit profile</button>
                                </div>
                            </form>
                            <form th:action="@{/user/delprofile}" method="get">
                                <div class="form-group">
                                    <button class="btn btn-block btn-space btn-danger" style="opacity: 0.35" type="submit">Delete
                                        profile</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</body>

</html>