<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div th:replace="fragments/admin/navigation_bar :: navBrand"></div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div th:replace="fragments/admin/navigation_bar :: logo"></div>
            <div th:replace="fragments/admin/navigation_bar :: navList"></div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div th:replace="fragments/any/navigation :: back"></div>
                </li>
            </ul>
        </div>
    </nav>
    <!--                End nav bar             -->

    <div class="container pt-5">
        <form th:action="@{/admin/edituser}" method="get">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Role</th>
                        <th scope="col">Name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">email</th>
                        <th scope="col">Account status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${listOfUsers.empty}">
                        <td colspan="6">No users registered</td>
                    </tr>
                    <tr th:each="user: ${listOfUsers}">
                        <th scope="row"><span th:text="${user.id}"> id </span></th>
                        <td th:each="role: ${user.getRoles().toArray()}"><span th:text="${role.role}"> Role </span></td>
                        <td><span th:text="${user.name}"> Name </span></td>
                        <td><span th:text="${user.lastName}"> Last name </span></td>
                        <td><span th:text="${user.email}"> email </span></td>
                        <td><span th:text="${user.active} ? 'Active' : 'Disabled'"> Account status </span></td>
                        <td><button class="btn btn-warning btn-sm" type="submit" th:id="email" th:name="email" th:value="${user.email}">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>

</html>